<div>
  <link href="./blog-card.css" rel="stylesheet" />
  <div class="blog-card-blog-card">
    <img
      alt="image"
      src="public/playground_assets/rectangle%2099-1500w.png"
      class="blog-card-image"
    />
    <div class="blog-card-container">
      <button class="blog-card-button button-secondary button">
        <span>Visualization</span>
      </button>
      <span class="blog-card-text"><span>Apr 24, 2022</span></span>
    </div>
    <span class="blog-card-text1">How to Create KPI Card with Tableau</span>
    <span class="blog-card-text2"><span>Learn more</span></span>
  </div>
</div>
