.\#blog_k-p-iviz-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.\#blog_k-p-iviz-blog-post-card:hover {
  transform: scale(1.02);
}
.\#blog_k-p-iviz-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.\#blog_k-p-iviz-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.\#blog_k-p-iviz-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.\#blog_k-p-iviz-text {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.\#blog_k-p-iviz-text1 {
  color: #595959;
  font-weight: 300;
}
.\#blog_k-p-iviz-text2 {
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.\#blog_k-p-iviz-text3 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.\#blog_k-p-iviz-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.\#blog_k-p-iviz-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
.\#blog_k-p-iviz-link {
  color: var(--dl-color-scheme-black);
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
@media(max-width: 991px) {
  .\#blog_k-p-iviz-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .\#blog_k-p-iviz-blog-post-card {
    flex-direction: column;
  }
  .\#blog_k-p-iviz-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .\#blog_k-p-iviz-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .\#blog_k-p-iviz-link {
    width: auto;
  }
}
