<div>
  <link href="./blog_k-p-iviz.css" rel="stylesheet" />
  <div class="#blog_k-p-iviz-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1000"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="#blog_k-p-iviz-image"
    />
    <div class="#blog_k-p-iviz-container">
      <div class="#blog_k-p-iviz-container1">
        <span class="#blog_k-p-iviz-text"><span>Visualizations</span></span>
        <span class="#blog_k-p-iviz-text1"><span></span></span>
      </div>
      <h1 class="#blog_k-p-iviz-text2">
        <span>สร้าง KPI Visual เหมือน PowerBI ด้วยโปรแกรม Tableau</span>
      </h1>
      <span class="#blog_k-p-iviz-text3"><span>ทดลองทำ Kpi card</span></span>
      <div class="#blog_k-p-iviz-container2">
        <div class="#blog_k-p-iviz-profile"></div>
        <a
          href="https://medium.com/@sarad.pokleeb/%E0%B8%AA%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%87-kpi-visual-%E0%B9%80%E0%B8%AB%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%99-powerbi-%E0%B8%94%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B9%82%E0%B8%9B%E0%B8%A3%E0%B9%81%E0%B8%81%E0%B8%A3%E0%B8%A1-tableau-8f4c444d5dd"
          target="_blank"
          rel="noreferrer noopener"
          class="#blog_k-p-iviz-link"
        >
          Read More -&gt;
        </a>
      </div>
    </div>
  </div>
</div>
