<div>
  <link href="./footer_my.css" rel="stylesheet" />
  <div class="#footer_my-footer section-container">
    <div class="#footer_my-separator"></div>
    <div class="max-content-container">
      <div class="#footer_my-top-part">
        <div class="#footer_my-links-container">
          <div class="#footer_my-product-container">
            <span class="#footer_my-text"><span>Menu</span></span>
            <span class="#footer_my-text1"><span>About</span></span>
            <a href="#portfolio" class="#footer_my-link">
              <span>Portofolio</span>
            </a>
            <span><span>Blog</span></span>
          </div>
          <div class="#footer_my-contact-container">
            <span class="#footer_my-text3"><span>Contact Me</span></span>
            <span class="#footer_my-text4">
              <span>Phone: +66 918569986</span>
              <br />
              <span>Email: Sarad.pokleeb@gmail.com</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="#footer_my-separator1"></div>
    <footer class="#footer_my-max-width1 max-content-container">
      <img
        alt="image"
        src="public/playground_assets/sarad_logo-200h.png"
        class="#footer_my-image"
      />
    </footer>
  </div>
</div>
