<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="#navigation-header">
    <div class="#navigation-max-width">
      <a href="index.html" class="#navigation-navlink">
        <img
          alt="image"
          src="public/playground_assets/sarad_logo-200h.png"
          class="#navigation-image"
        />
      </a>
      <div class="#navigation-nav">
        <nav class="navigation-links-nav navigation-links-root-class-name17">
          <a href="home.html" class="navigation-links-navlink">
            <span>Home</span>
          </a>
          <a
            href="portfolio.html"
            class="navigation-links-navlink1 navigation-Link"
          >
            <span>Portfolio</span>
          </a>
          <a href="blog.html" class="navigation-links-navlink2 navigation-Link">
            <span>Blog</span>
          </a>
        </nav>
      </div>
      <div data-type="BurgerMenu" class="#navigation-burger-menu">
        <svg viewBox="0 0 1024 1024" class="#navigation-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-type="MobileMenu" class="mobile-menu">
        <div class="#navigation-nav1">
          <div class="#navigation-container">
            <img
              alt="image"
              src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
            />
            <div
              data-type="CloseMobileMenu"
              class="#navigation-close-mobile-menu"
            >
              <svg viewBox="0 0 1024 1024" class="#navigation-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navigation-links-nav navigation-links-root-class-name18">
            <a href="home.html" class="navigation-links-navlink">
              <span>Home</span>
            </a>
            <a
              href="portfolio.html"
              class="navigation-links-navlink1 navigation-Link"
            >
              <span>Portofolio</span>
            </a>
            <a
              href="blog.html"
              class="navigation-links-navlink2 navigation-Link"
            >
              <span>Blog</span>
            </a>
          </nav>
          <button class="button-secondary button button-md">
            <span>Get in touch</span>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
